html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


/* 1000px */
@media screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%; /* 9px */
  }
}


/* 768px */
@media screen and (max-width: 48em) {
  html {
    font-size: 50%; /* 8px */
  }
}
