body {
  font-family: "Urbanist", sans-serif;
  font-size: 1.4rem;
  overflow-y: scroll;
}

.MuiBadge-badge {
  font-size: 1.1rem !important;
  min-width: 2rem !important;
  height: 2rem !important;
}

/* @media screen and (max-width: 37.5em) {
  .MuiBadge-badge {
    min-width: 2rem !important;
    height: 2rem !important;
  }
} */

.loaderContainer {
  text-align: center;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: 300;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid teal;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
